@media only screen and (max-width: 991px){
    body{
        overflow: scroll !important;
    }
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212529;
    color: white;
    overflow: hidden;
}

.navigation{
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    padding: 20px;
    background-color: #212529;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    align-content: center;
}

.footer{
    background-color: #212529;
    text-align: center;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}
#html-input, #css-output{
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
}

#myOutputcontent{
    min-height: 90%;
    max-height: 90%;
    height: 90%;
}

.entry-boxes{
    padding-top: 20px;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
}

.logo{
    font-size: xx-large;
    color: cornflowerblue;
    text-align: left;
}

 .CodeMirror{
    min-height: 90%;
    max-height: 90%;
    height: 90%;
}

#home, #profile{
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
}

/* #profile{
    display: none;
} */

#replace-button{
    float: right;
    background-color: cornflowerblue;
    width: 100px;
    max-width: 100px
}

#html-header{
    padding-bottom: 6px;
}