body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
}

.navigation{
    height: 10vh;
    max-height: 200px;
    padding: 10px;
    background-color: white;
}

.footer{
    background-color: white;
    text-align: center;
}
textarea{
    min-height: 60vh;
    max-height: 60vh;
    overflow: scroll;
}

.entry-boxes{
    padding: 50px;
}

.logo{
    font-size: xx-large;
    color: cornflowerblue;
    text-align: left;
}