@media screen and (max-width: 991px ) {
    body{
        overflow: scroll !important;
    }
    .footer{
          font-size: medium !important;
    }
    .footer .card-title{
        display: none;
    }
    #options{
        margin-left: 8px !important;
    }
    .btn-group{
        padding-left: 5px;
    }
    .donate{
        display: none;
    }
}

@media screen and (max-height: 800px){
    .footer{
        font-size: medium !important;
  }
  .footer .card-title{
      display: none;
  }
}
@media screen and (max-width: 600px ) {
    .footer{
          font-size: x-small !important;
    }

    #options{
        display: none;
    }
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212529;
    color: white;
    overflow: hidden;
}

.navigation{
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    padding: 20px;
    background-color: #212529;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
    align-content: center;
}

.footer{
    background-color: #212529;
    text-align: center;
    height: 10vh;
    max-height: 10vh;
}

#html-input, #css-output{
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
}

#myOutputContent{
    padding-bottom: 5% !important;
}

.entry-boxes{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80vh;
    max-height: 80vh;
    font-size: medium;
}

.logo{
    font-size: xx-large;
    color: cornflowerblue;
    float: left;
}

.CodeMirror{
    max-height: 90%;
    height: 90% !important;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

#home, #profile{
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
}

#replace-button{
    background-color: cornflowerblue;
    width: 100px;
    max-width: 100px;
    margin-top: 5px;
    float: right;
}

#html-header{
    padding-bottom: 6px;
}

.nav-tabs .nav-link{
    border: none;
    color: white;
    outline: none;
}

.nav-tabs .nav-link.active{
    background-color: #282a36;
    color: white;
    outline: none;
}

.nav-tabs{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#profile{
    position: fixed;
}

.btn{
    background-color: rgba(100, 149, 237, 0.6);
}

.btn.active{
    background-color: cornflowerblue !important;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(100, 149, 237, 0.8);
    cursor: pointer;
}

.btn.focus{
    box-shadow: none;
}

.btn-group{
    padding-left: 10px;
}

#options{
    margin-left: 90px;
    float: left;
    position: fixed;
    left: 35%;
    height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.donate > form{
    margin-top: 10px;
    position: fixed;
    right: 2%;
    float: right;
}

.donate{
    float: right;
}
